<!DOCTYPE html>
<html lang="en">
<head>
  <title> Database </title>    
  <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">

  <style> 

    .dataTables_filter {
      width: 50%;
      float: left !important;;
      text-align: left !important;;
    }

    .dataTables_length {
      width: 80%;
      float: left !important;;
      text-align: left !important;;
    }

    .dataTables_info {
      width: 30%;
      float: left !important;;
      text-align: left !important;;
    }




    .dataTables_paginate {
      width: 90%;
      float: left !important;;
      text-align: left !important;;
    }

    tfoot {
        display: table-header-group;
    }
  </style>
 

  <script type="text/javascript">
$(document).ready(function() {
    // Setup - add a text input to each footer cell
    $('#example tfoot th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    } );
 
    // DataTable
    var table = $('#example').DataTable(
        {
          // "paging" : false,
          "sDom": '<"wrapper"f l i t> <"bottom"> p',
          "columnDefs": [
              {
                  "targets": [ 13 ],
                  "searchable": false,
                  "sortable" : false
              }
          ]
        }
      );
 
    // Apply the search
    table.columns().every( function () {
        var that = this;
 
        $( 'input', this.footer() ).on( 'keyup change', function () {
            if ( that.search() !== this.value ) {
                that
                    .search( this.value )
                    .draw();
            }
        } );
    } );
} );

  </script>



  <script type="text/javascript">
  var del = function(pr, el, da, ad, ph, ah, lo, c, f, s, l, es, no) {
    data = {}
    data['program'] = pr
    data['eligibility'] = el
    data['date'] = da
    data['applicationDeadline'] = ad
    data['programHyper'] = ph
    data['applicationHyper'] = ah
    data['login'] = lo
    data['courses'] = c
    data['faq'] = f
    data['sat'] = s
    data['lor'] = l
    data['essay'] = es
    data['note'] = no
    $.ajax({
      type: "POST",
      url: '/delete',
      data: data
    }).done(function() {
      window.location.href = "/";
    });
  }  

  </script>

</head>


<body>
  <div class="containers">
    <div class="panel container-fluid row">
      <div class="col-md-12">
          <table id="example" class="display" border="1">        
            <thead>
              <tr>
              <th><a> Program </a> </th>
              <th> <a> Eligibility </a></th>
              <th><a> Date </a></th>
              <th> <a> Application Deadline </a></th>
              <th><a> Program Hyperlink </a></th>
              <th><a> Application Hyperlink</a></th>
              <th><a> Login </a></th>
              <th><a>Courses</a></th>
              <th><a>FAQ</a></th>
              <th><a>SAT</a></th>
              <th><a>Letter of Recommendation</a></th>
              <th><a>Essay</a></th>
              <th><a>Note</a></th>
              <th><a>Delete</a></th>
              
              </tr>
            </thead>

        <tfoot>
            <tr>
              <th><a> Program </a> </th>
              <th> <a> Eligibility </a></th>
              <th><a> Date </a></th>
              <th> <a> Application Deadline </a></th>
              <th><a> Program Hyperlink </a></th>
              <th><a> Application Hyperlink</a></th>
              <th><a> Login </a></th>
              <th><a>Courses</a></th>
              <th><a>FAQ</a></th>
              <th><a>SAT</a></th>
              <th><a>Letter of Recommendation</a></th>
              <th><a>Essay</a></th>
              <th><a>Note</a></th>
              <th class="hidden"><a>Delete</a></th>
            </tr>

        </tfoot>

            <tbody class="list">
              {% for post in myList %}
              <tr>

                <td class="program"> {{ post.program }}</td>
                <td class="eligibility"> {{ post.eligibility }}</td>
                <td class="date"> {{ post.date }}</td>
                <td class="applicationDeadline"> {{ post.applicationDeadline }}</td>
                <td class="programHyperlink"> {{ post.programHyper }}</td>
                <td class="applicationHyperlink"> {{ post.applicationHyper }}</td>
                <td class="login"> {{ post.login }}</td>
                <td class="courses"> {{ post.courses}}</td>
                <td class="faq"> {{ post.faq }}</td>
                <td class="sat"> {{ post.sat }}</td>
                <td class="lor"> {{ post.lor }}</td>
                <td class="essay"> {{ post.essay }}</td>
                <td class="note"> {{ post.note }}</td>

                <td> <input type="submit" value="Delete" onclick="del( '{{post.program}}', '{{ post.eligibility }}', '{{ post.date }}', '{{ post.applicationDeadline }}', '{{ post.programHyper }}', '{{ post.applicationHyper }}', '{{ post.login }}', '{{ post.courses }}', '{{ post.faq }}', '{{ post.sat }}', '{{ post.lor }}', '{{ post.essay }}', '{{ post.note }}' )"> </td>

              </tr>
              <div class="seperator"></div>   
              {% endfor %}
            </tbody>

            <tr>
              <form action="" method="post" name="form">
                <td> {{ form.program }} </td>
                <td> {{ form.eligibility}} </td>
                <td> {{ form.date }}</td>
                <td> {{ form.applicationDeadline }}</td>
                <td> {{ form.programHyper }}</td>
                <td> {{ form.applicationHyper }}</td>
                <td> {{ form.login }}</td>
                <td> {{ form.courses }}</td>
                <td> {{ form.faq }}</td>
                <td> {{ form.sat }}</td>
                <td> {{ form.lor }}</td>
                <td> {{ form.essay }}</td>
                <td> {{ form.note }}</td>
                <td><input type="submit" value="Add"></td>

              </form>
            </tr>

          </table>
      </div>
    </div>
  </div>



</body>
</html>
