
<html lang="en">
  <head>
    <title> Bucket</title>    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
  <div class="containers">
  
  <div>
  <form action="" method="post" name="form">
      <p>
          Bucket:<br>
          {{ form.todo(size=80) }}<br>
      </p>
      <p><input type="submit" value="Add To Your Bucket"></p>
  </form>

  </div>

          {% for post in myList %}
            <div>
            Bucket Item: {{post.todo}}
            </div>
            <div class="seperator"></div>   
          {% endfor %}
  </div>


  </body>
  </html>
