
<html lang="en">
  <head>
    <title> Database: Login </title>    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>


  <div class="panel container-fluid row">
    <div class="separator"></div>
    <div class="col-md-5"></div>
    <div class="col-md-2"> 
      <form class="form-signin text-center" action="" method="post" name="form">
        <p> 
          Username :<br> {{ form.username}} <br>
          Password :<br> {{ form.password}} <br>
          New Password :<br> {{ form.newPassword}} <br>
          New Password Confirmation :<br> {{ form.newPassword2}} <br>
        </p>
        <p><input type="submit" value="Change"></p>
      </form>
    </div>
    <div class="col-md-5"> 
    </div>
  </div>


  </body>
  </html>
