
<html lang="en">
  <head>
    <title> Database: Login </title>    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
  <div class="containers">
  
  <div>
  <form action="" method="post" name="form">
      <p> 
          Username :<br> {{ form.username}} <br>
          Password :<br> {{ form.password}} <br>
          New Password :<br> {{ form.newPassword}} <br>
          New Password Confirmation :<br> {{ form.newPassword2}} <br>
      </p>
      <p><input type="submit" value="Login"></p>
  </form>



  </body>
  </html>
